/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* Global Variables */
:root {
  --clr-background: hsl(0, 0%, 95%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-input: hsl(0, 0%, 52%);
  --clr-element: hsl(0, 0%, 100%);
}

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--clr-background);
  color: var(--clr-text);
}

/* Images */
img,
svg {
  max-width: 100%;
  display: block;
}

/* Wrapper */
.wrapper {
  max-width: 1440px;
  width: calc(100% - 2rem);
  margin-inline: auto;
}

/* Header */
.header-section {
  box-shadow: 0px 10px 34px -11px var(--clr-element);
  background-color: var(--clr-element);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.header h1 {
  font-size: clamp(20px, 5vw, 30px);
}

#theme-btn {
  padding: 0.5rem 0.75rem;
  border: none;
  outline: none;
  background-color: var(--clr-background);
  border-radius: 0.5rem;
  font-weight: 700;
  color: var(--clr-text);
}

/* Search */
.search-section {
  padding-block: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#search,
.search select {
  background-color: var(--clr-element);
  color: var(--clr-text);
  padding: 0.75rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  display: block;
}

#search {
  width: 100%;
  max-width: 500px;
}

#search::placeholder {
  color: var(--clr-text);
  font-weight: 500;
}

/* Country List */
.country-section {
  padding: 2rem 0;
}

.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.country-list .error {
  color: crimson;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.country-list li {
  background-color: var(--clr-element);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country-list li img {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 160px;
}

/* Country Details */
.country-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-background);
  width: calc(100% - 2rem);
  max-width: 800px;
  display: none;
  padding: 2rem;
  gap: 2rem;
  z-index: 10;
  border-radius: 0.5rem;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.overlay.active {
  z-index: 3;
}

.country-details.active {
  display: flex;
}

.country-details img {
  max-width: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.country-details-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.country-details-lists {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.country-details ul {
  list-style: none;
}

.country-details-close {
  cursor: pointer;
  align-self: flex-end;
}

.country-details-extra {
  justify-content: end;
}

/* Media Queries */
@media (max-width: 400px) {
  .country-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 260px));
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .country-details {
    flex-direction: column;
    gap: 2rem;
  }

  .country-details img {
    margin-inline: auto;
  }
}

@media (max-width: 600px) {
  .country-details-lists {
    flex-direction: column;
  }

  .country-details img {
    width: 100%;
  }
}
